<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All products</title>
</head>
<body>
<h4>Products</h4>

<!-- Link to the new product form -->
<a href = "newProduct">Add new product</a>

<!-- Product filter (all, with min price, max price and both)-->
<p>Show product</p>
<form th:action="@{/}" th:method="get">
    <select th:name="filter" onchange="this.form.submit()">
        <option>All</option>
        <option value="cheap" th:selected="'cheap' == ${filter}">Cheap</option>
        <option value="expensive" th:selected="'expensive' == ${filter}">Expensive</option>
        <option value="both" th:selected="'both' == ${filter}">Most cheap and expensive</option>
    </select>
</form>

<table th:width="800">
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Price</th>
    </tr>
    <tr th:each="product : ${products}" align="center">
        <td>[[${product.id}]]</td>
        <td>[[${product.title}]]</td>
        <td>[[${product.price}]]</td>
    </tr>
</table>

<!-- Page selection and size setting-->
<span th:if="${page.getPageable().isPaged()}">
<form th:action="@{/}" th:method="get">
    <label>Items per page</label>
    <input type="hidden" name="page" th:value="0" />
    <select th:name="size" onchange="this.form.submit()">
        <option th:each="i: ${#numbers.sequence(1, 5)}"
                th:text = "${i} * 5" th:value="${i} * 5"
                th:selected="${i} * 5 == ${page.getSize()}"
        ></option>
    </select>

    <label>Page number</label>
<th:block th:each="i: ${#numbers.sequence(0, page.getTotalPages() - 1)}">
    <span th:if="${i} == ${page.getNumber()}">
        <b>[[${page.getNumber()} + 1]]</b>
    </span>
    <span th:unless="${i} == ${page.getNumber()}">
        <a th:href="@{/(size = ${page.getSize()}, page = ${i})}" th:text="${i} + 1"></a>
    </span>
</th:block>
</form>


</span>
</body>
</html>
