<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>All products</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

</head>
<body>

<div th:replace="~{navigation :: navBar()}"></div>

<br>
<!-- Link to the new product form -->
<div sec:authorize="hasAnyRole('USER')">
    <form th:action="@{/}" th:method="get">
        <label>Filter by price </label><select th:name="filter" onchange="this.form.submit()">
        <option>All</option>
        <option value="cheap" th:selected="'cheap' == ${filter}">Cheap</option>
        <option value="expensive" th:selected="'expensive' == ${filter}">Expensive</option>
        <option value="both" th:selected="'both' == ${filter}">Most cheap and expensive</option>
    </select>
    </form>
</div>

<table th:width="800">
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Price</th>
        <th>
            <div sec:authorize="hasRole('ADMIN')">
                <a href = "newProduct">Add new product</a>
            </div>
        </th>
    </tr>
    <tr th:each="product : ${products}" align="center">
        <td th:text="${product.id}"/>
        <td th:text="${product.title}"/>
        <td th:text="${product.price}"/>
        <td>
            <div sec:authorize="hasRole('ADMIN')">
                <a class="ui-button" th:href="@{/deleteProduct(id = ${product.getId()})}">Remove</a>
            </div>
        </td>
    </tr>
</table>

<div th:if="${page.getPageable().isPaged()}">
    <div th:replace="~{pageSelection :: pageSel(${page.getSize()}, ${page.getNumber()}, ${page.getTotalPages()})}">
    </div>
</div>

</body>
</html>
