<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-icons.css" rel="stylesheet">
    <title>Admin panel</title>
</head>
<body sec:authorize="hasRole('ADMIN')">
<div class="container-xxl">
<div th:replace="~{/parts/navigation :: navigation('admin')}"></div>

<span sec:authentication="principal.authorities"></span>
</div>
<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>